n8n/hotel-chatbot-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e9bbb0c2-bb66-4ff6-9d6b-3c94df639705",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-608, -112],
      "webhookId": "hotel-chat-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are the Cincinnati Hotel's friendly virtual assistant. Your role is to help guests with questions about our hotel.\n\nIMPORTANT RULES:\n1. ONLY answer questions using the hotel information provided below. Do not make up or assume any information.\n2. If the answer is NOT clearly stated in the provided hotel information, you MUST set answerFound to false and respond with: \"I'm sorry, I don't have that information right now. Would you like to leave your contact details so our team can get back to you?\"\n3. Be warm, professional, and helpful - you represent a luxury hotel.\n4. Keep responses concise but informative.\n5. Always respond in JSON format with these exact fields:\n   - answer: Your response to the guest\n   - category: The topic category (must be one of: Rooms, Restaurant, Amenities, Location, Pricing, Policies, Services, Other)\n   - answerFound: true if you found the answer in the hotel information, false if you could not answer\n\nCOMMON QUICK QUESTIONS (be prepared to answer these well):\n- What are your room rates?\n- What time is check-in?\n- Is WiFi free?\n- Do you have parking?\n- What restaurants are on-site?\n- Do you have a spa?\n\nHOTEL INFORMATION:\n{{ $json.body.pdfContent }}\n\nRemember: If the hotel information above is empty or doesn't contain the answer, set answerFound to false."
        }
      },
      "id": "951fafd9-81cf-47d0-b8d4-379e585052ec",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-384, -112]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Try to parse the AI response as JSON\nlet parsedResponse;\ntry {\n  // The AI response might be in the output field or directly in the response\n  const aiOutput = response.output || response.text || response;\n  \n  // If it's a string, try to extract JSON from it\n  if (typeof aiOutput === 'string') {\n    // Try to find JSON in the response\n    const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsedResponse = JSON.parse(jsonMatch[0]);\n    } else {\n      // If no JSON found, create a default response\n      parsedResponse = {\n        answer: aiOutput,\n        category: 'Other',\n        answerFound: true\n      };\n    }\n  } else {\n    parsedResponse = aiOutput;\n  }\n} catch (error) {\n  // If parsing fails, return the raw output\n  parsedResponse = {\n    answer: response.output || response.text || \"I'm sorry, I couldn't process your request.\",\n    category: 'Other',\n    answerFound: false\n  };\n}\n\n// Ensure all required fields exist\nreturn {\n  answer: parsedResponse.answer || \"I'm sorry, I couldn't process your request.\",\n  category: parsedResponse.category || 'Other',\n  answerFound: parsedResponse.answerFound !== false\n};"
      },
      "id": "9df4fb72-215a-48e5-85d9-82ba4245c341",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, -112]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "3c113bdd-4edd-4a7c-9ed0-9fe5bd8c2ca7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [144, -112]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-528, 96],
      "id": "6ff634de-3908-4be4-b242-5499f72caae4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "hotel-chatbot-instance"
  }
}
