n8n/hotel-chatbot-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 0],
      "webhookId": "hotel-chat-webhook"
    },
    {
      "parameters": {
        "text": "=You are Cincinnati Hotel's friendly virtual concierge.\n\nHOTEL KNOWLEDGE BASE:\n{{ $json.body?.pdfContent || $json.pdfContent || 'No hotel information available.' }}\n\nGUEST QUESTION: {{ $json.body?.message || $json.message }}\n\nINSTRUCTIONS:\n1. Search the HOTEL KNOWLEDGE BASE above carefully for the answer\n2. If you find the answer, respond helpfully and set answerFound to true\n3. If you cannot find the answer, set answerFound to false\n4. Be warm, professional, and concise\n\nRespond with ONLY valid JSON:\n{\"answer\": \"your response\", \"category\": \"CategoryName\", \"answerFound\": true}\n\nCategories: Rooms, Restaurant, Amenities, Location, Pricing, Policies, Services, Other"
      },
      "id": "llm-chain-node",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [-350, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet parsedResponse;\ntry {\n  const aiOutput = response.text || response.output || response.response || JSON.stringify(response);\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*?\\}/);\n  if (jsonMatch) {\n    parsedResponse = JSON.parse(jsonMatch[0]);\n  } else {\n    parsedResponse = {\n      answer: String(aiOutput).substring(0, 500) || \"I couldn't process your request.\",\n      category: 'Other',\n      answerFound: false\n    };\n  }\n} catch (error) {\n  parsedResponse = {\n    answer: \"I'm having trouble processing your request.\",\n    category: 'Other',\n    answerFound: false\n  };\n}\n\nreturn {\n  answer: parsedResponse.answer || \"I couldn't find an answer.\",\n  category: parsedResponse.category || 'Other',\n  answerFound: parsedResponse.answerFound === true\n};"
      },
      "id": "parse-response-node",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [150, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "gemini-model-node",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-350, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "hotel-chatbot-instance"
  }
}
